$primaryColor: #3da9fc;
$secondaryColor: #1173be;
$textColor: #094067;
$borderColor: #ebebeb;
$iconColor: #c1c1c1;

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
}

.block {
	width: 480px;
	min-height: 200px;
	box-shadow: 0 0 24px rgba($color: #000000, $alpha: 0.1);
	border-radius: 10px;
	background-color: #fff;
	padding: 0 60px 36px 60px;
	margin: auto;
}

.block-pb-0 {
	padding-bottom: 0;
}
